doctype html
html
    head
        title Knowledgebase
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/style.css')
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-dark
            a.navbar-brand.text-light(href='/') Al Ataa Restaurant

            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon.text-light
            #navbarNavDropdown.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link.text-light(href='/') orders
                    li.nav-item
                        a.nav-link.text-light(href='/articles/add') Add food order
                    
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class="alert alert-danger") #{error.msg}
            block content
            br
            
            footer
        script(src='/bower_components/jquery/dist/jquery.js')
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/main.js')

        